<div class="sensor-network">
    <div class="sensor-ring ring-1"></div>
    <div class="sensor-ring ring-2"></div>
    <div class="sensor-ring ring-3"></div>
    <div class="sensor-ring ring-4"></div>
    
    <div class="bitcoin-waves">
        <div class="bitcoin-wave wave-1"></div>
        <div class="bitcoin-wave wave-2"></div>
        <div class="bitcoin-wave wave-3"></div>
    </div>
    
    <div class="energy-particles" id="energyParticles"></div>
    
    <div class="bitcoin-visualization">
        <div class="bitcoin-wave"></div>
    </div>
</div>